<html ng-app='myApp'>

<head>


</head>

<body ng-controller='TextController'>
	<script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>

	<section>
        <pre>{{choseArr}}</pre>
        select all: <input type="checkbox" ng-model="master" ng-click="all(master,tesarry)">
        <div ng-repeat="z in tesarry">
            <input id={{z}} type="checkbox"  ng-model="x" ng-checked="master" ng-click="chk(z,x)">{{z}}
        </div>
        <a href="#" class="btn btn-danger" ng-click="delete()" > delete</a>
    </section>

	


	<script type="text/javascript">
		var myAppModule = angular.module('myApp', []);

		myAppModule.controller('TextController', function($scope){
			$scope.tesarry=['1','2','3','4','5'];//初始化数据
        	$scope.choseArr=[];//定义数组用于存放前端显示
        	var str="";//
        	var flag='';//是否点击了全选，是为a
        	$scope.x=false;//默认未选中

        	$scope.all= function (c,v) {//全选
	            if(c==true){
	                $scope.x=true;
	                $scope.choseArr=v;
	            }else{
	                $scope.x=false;
	                $scope.choseArr=[""];
	            }

            	flag='a';

        	};

        	$scope.chk= function (z,x) {//单选或者多选
	            if(flag=='a') {//在全选的基础上操作
	                str = $scope.choseArr.join(',') + ',';
	            }
	            if (x == true) {//选中
	                str = str + z + ',';
	            } else {
	                str = str.replace(z + ',', '');//取消选中
	            }
	            $scope.choseArr=(str.substr(0,str.length-1)).split(',');
        	};

        	$scope.delete= function () {// 操作CURD
	            if($scope.choseArr[0]==""||$scope.choseArr.length==0){//没有选择一个的时候提示
	                alert("please select at least one item");
	                return;
	            };

	            for(var i=0;i<$scope.choseArr.length;i++){
	                //alert($scope.choseArr[i]);
	                console.log($scope.choseArr[i]);//遍历选中的id
	            }
        	};
		});
	</script>
</body>
</html>