<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!--指定注入Bean时Spring要查找的包 -->
	<context:component-scan base-package="nju.software.xfgl.controller" />
	<!--配置视图解析器，使用InternalResourceViewResolver 类作为视图解析器。 
	Controller回传ModelAndView，DispatcherServlet将其交给ViewResolver解析。 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--指定目录前缀 -->
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<!--指定文件后缀 -->
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
</beans>
