@CHARSET "UTF-8";

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

#cxfailNavigation{
	width:954px;
	height:35px;
	background-color:#CDCDCD;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	margin: 0 auto;
}

#cxfailBody{
	width:954px;
	margin: 0 auto;
}

#rederror{
	float:left;
	width:350px;
	height:360px;
	text-align:right;
	padding-top:120px;
	padding-bottom:100px;
	padding-right:10px;
}

#cxfailContent{
	float:left;
	width:604px;
	height:360px;
	text-align:left;
	padding-top:120px;
	padding-bottom:100px;
	padding-left:10px;
}